{{#unless pager}}
  {{!-- <li class="previous {{if isFirstDisabled 'disabled'}}"> --}}
    <a class="item {{if isFirstDisabled 'disabled'}}" href={{previousUrl}}>{{{paginationPrevious}}}</a>
  {{!-- </li> --}}

  {{#each pages key="@index" as |page|}}
    {{page-item disabled=disabled page=page selected=this.current seperator=seperator urlTemplate=urlTemplate pageSet='pageChanged'}}
  {{/each}}

  {{!-- <li class="next {{if isLastDisabled 'disabled'}}"> --}}
    <a class="item {{if isLastDisabled 'disabled'}}" href={{nextUrl}}>{{{paginationNext}}}</a>
  {{!-- </li> --}}
{{else}}
  {{#if pagerFirst}}
    {{!-- <li class="{{if isFirstDisabled 'disabled'}}"> --}}
      <a class="item {{if isFirstDisabled 'disabled'}}" href={{firstUrl}}>{{{pagerFirst}}}</a>
    {{!-- </li> --}}
  {{/if}}

  {{!-- <li class="{{if pagerSpread 'previous'}} {{if isFirstDisabled 'disabled'}}"> --}}
    <a class="item {{if isFirstDisabled 'disabled'}}" href={{previousUrl}}>{{{pagerPrevious}}}</a>
  {{!-- </li> --}}

  {{#if hasBlock}}
    <div class="pager-inner">{{yield}}</div>
  {{/if}}

  {{!-- <li class="{{if pagerSpread 'next'}} {{if isLastDisabled 'disabled'}}"> --}}
    <a class="item {{if isLastDisabled 'disabled'}}" href={{nextUrl}}>{{{pagerNext}}}</a>
  {{!-- </li> --}}

  {{#if pagerLast}}
    {{!-- <li class="last {{if isLastDisabled 'disabled'}}"> --}}
      <a class="item {{if isLastDisabled 'disabled'}}" href={{lastUrl}}>{{{pagerLast}}}</a>
    {{!-- </li> --}}
  {{/if}}
{{/unless}}
